.bizi-tercih-edenler-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;


    .bizi-tercih-edenler-kucuk {
        color: #ef5353;
        font-size: 2vw;

    }

    .bizi-tercih-edenler-buyuk {
        color: #353535;
        font-size: 3vw;
    }

}


@media only screen and (max-width:768px) {
    .bizi-tercih-edenler-title {
        padding: 0;
        margin-bottom: 0;
        .bizi-tercih-edenler-kucuk {
            color: #ef5353;
            font-size: 6vw;
    
        }
    
        .bizi-tercih-edenler-buyuk {
            color: #353535;
            font-size: 8vw;
        }
    
    }
}