.contact-icons {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 10vh;
  padding-bottom: 10vh;

  a {
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    align-items: center;
    text-align: center;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 768px) {
  .contact-icons {
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;

    a {
      color: gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90vw;
      padding-bottom: 5vh;
    }
  }
}
