.contact-title {
  text-align: center;
  color: white;
  font-size: 2vw;
  margin-bottom: 1vw;
}

@media only screen and (max-width: 768px) {
  .contact-title {
    text-align: center;
    color: white;
    font-size: 6vw;
    margin-bottom: 1vw;
  }
}
