@font-face {
  font-family: brown-bold;
  font-display: swap;
  src: url("./../assets/fonts/Brown-Bold.ttf");
}

@font-face {
  font-family: brown-light;
  font-display: swap;
  src: url("./../assets/fonts/Brown-Light.ttf");
}

@font-face {
  font-family: brown-regular;
  font-display: swap;
  src: url("./../assets/fonts/Brown-Regular.ttf");
}
