.hakkimizda-title {
    width: 40vw;
    font-size: 4vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: brown-bold;
    font-weight: bold;
    text-align: right;
    
    .hakkimizda-title-black {
        color: #353535;
    }
    .hakkimizda-title-red {
        color: #ef5353;
    }

}


@media only screen and (max-width:768px) {
    .hakkimizda-title {
        font-size: 8vw;
        width: 100%;
        text-align: center;
    }

}