.hizmetlerimiz-item {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2.5vw;
  padding-right: 2.5vw;

  .title {
    color: white;
  }

  .description {
    color: #ef5353;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .hizmetlerimiz-item {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;

    .title {
      color: white;
    }

    .description {
      color: #ef5353;
      text-align: center;
      padding-left: 10vw;
      padding-right: 10vw;
    }
  }
}
