@import "./Animations.scss";

#contact {
  color: white;
  text-align: left;
  .input-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    padding-top: 2vw;
  }

  label {
    text-transform: uppercase;
    font-size: 2vw;
    padding-bottom: 0.5vw;
  }
  input,
  textarea {
    border: 0;
    width: 80% !important;
    min-height: 4vw;
    display: flex;
    background-color: #353535ad;
    border-bottom: solid 1px #b4b4b4;
    color: white;
    transition: 0.5s;
    font-size: 2vw;
    font-family: brown-bold;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
  }

  button {
    border: 0;
    border-radius: 40vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    margin-top: 4vh;
    background-color: #ef5353;
    color: white;
    font-family: brown-light;

    &:hover {
      background-color: wheat;
      color: #ef5353;
    }
  }
  textarea:focus,
  input:focus {
    background-color: #535353;
    animation: focus-form 0.2s;
  }
}

@media only screen and (max-width: 768px) {
  #contact {

    display: flex;
    justify-content: space-around;
      button {
          min-width: 30vw;
      }
    .input-container {
      width: 85% !important;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      label {
        font-size: 4vw;
      }
      input,
      textarea {
        width: 85% !important;
        margin-left: 0;
        margin-right: 0;
        min-height: 10vw;
        font-size: 6vw;
      }
    }
  }
}
