.social-links {
  display: flex;
  justify-content: center;

  a {
    padding-left: 1vw;
    padding-right: 1vw;
  }

}

@media only screen and (max-width: 768px) {
  .social-links {
      justify-content: space-around;
      width: 50%;
  }
}
