.vl {
  position: relative;
  border-left: 0.5vh solid #353535;
  height: 40vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

@media only screen and (max-width: 768px) {
  .vl {
    display: none;
  }
}
