#wallpaper-wrapper {
  background-image: url("./../assets/images/mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media only screen and (max-width: 768px) {
  #wallpaper-wrapper {
    background-image: url("./../assets/images/mountain.jpg");
    background-size: contain;
  }
}
